.figure1 {
    width: 300px;
    height: 300px;
    position: relative;
    background-color: black;
}

.flower {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
}

.sign {
    opacity: 0;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: opacity 1s ease;
}

.figure1:hover .sign {
    opacity: 100%;
    display: block;
}

.figure1:hover .flower {
    opacity: 30%;
}

.figure1:hover:before,
.figure1:hover:after {
    height: 45px;
}

.figure1:before,
.figure1:after {
    content: '';
    background-color: black;
    width: 100%;
    height: 0;
    position: absolute;
    z-index: 1;
    transition: all 1s ease;
}

.figure1:before {
    top: 0;
}

.figure1:after {
    bottom: 0;
}